<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>



<div class="container">
  <img src="<%= @garden.banner_url %>" alt="" class="m-auto w-50 d-flex justify-content-center">
</div>

<div class="m-auto">
  
  <%= link_to 'Edit', edit_garden_path(@garden) %> |
  <%= link_to 'Back', gardens_path %>
</div>


<div class="m-auto w-50">
  <%= simple_form_for [@garden, @plant] do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit %>
  <% end %>
</div>

<div class="text-center d-flex justify-content-center">
  <% @garden.plants.each do |plant| %>
    <div class="p-3">
      <h3><%= plant.name %></h3>
      <div><%= link_to "Delete", garden_plant_path(garden_id: @garden.id, id: plant.id ), method: :delete, data: {confirm: "Are you sure you want to kill me??????"} %></div>
      <img src="<%= plant.image_url %>" alt="" style="width: 200px;">
    </div>
  <% end %>
</div>